<div class="col-lg-4">
    <div class="card">
        <div class="card-body justify-content-center">
            <h3 class="card-title">{{context.name}}</h3>
            <h6 class="card-subtitle">{{context.desc}}</h6>
        </div>
        <div>
            <hr class="mt-0 mb-0">
        </div>
        <div class="card-body text-center ">
            <ul class="list-inline d-flex justify-content-center align-items-center mb-0">
                <li class="me-4">
                    <button type="button" class="btn btn-success">Passar</button>
                </li>
                <li class="me-4">
                    <!-- <h6 class=" text-primary"><i class="fa fa-circle font-10 me-2"></i>Desktop</h6> -->
                </li>
                <li class="me-4">
                    <h6 class=" text-success"><i class="fa fa-circle font-10 me-2"></i>AP: {{context.ap}}%</h6>
                </li>
            </ul>
        </div>
    </div>
</div>