{% extends "bases/dashboard_base.html" %} {% load static %} {% load grafico_aluno_extras %} {% block title %} Dash {{group}} {% endblock %} {% block content %}
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Dashboard</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 col-4 align-self-center">

            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Sales chart -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h3 class="card-title"> Evoluçao das habilidades</h3>
                            <h6 class="card-subtitle">algo aqui</h6>
                            <div class="col-12">
                                {% GraphView %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Proficiencia </h3>
                        <h6 class="card-subtitle">algo aqui ....</h6>
                        <div id="visitor" style="height: 290px; width: 100%; max-height: 290px; position: relative;" class="c2">
                            <div class="c2-tooltip-container" style="position: absolute; pointer-events: none; display: none;">
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr class="mt-0 mb-0">
                    </div>
                    <div class="card-body text-center ">
                        <ul class="list-inline d-flex justify-content-center align-items-center mb-0">
                            <li class="me-4">
                                <h6 class="text-info"><i class="fa fa-circle font-10 me-2 "></i>Portgues</h6>
                            </li>
                            <li class="me-4">
                                <h6 class=" text-primary"><i class="fa fa-circle font-10 me-2"></i>Matematica</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Sales chart -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body bg-info">
                        <h4 class="text-white card-title">Ranking</h4>
                    </div>
                    <div class="card-body">
                        <div class="message-box contact-box">
                            <div class="message-widget contact-widget">
                                <!-- Message -->
                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <img src={% static "assets/images/users/1.jpg" %} alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Pavan kumar</h5> <span class="mail-desc">info@wrappixel.com</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <img src={% static "assets/images/users/2.jpg" %} alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Sonu Nigam</h5> <span class="mail-desc">pamela1987@gmail.com</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <span class="round">A</span> <span class="profile-status away pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Arijit Sinh</h5> <span class="mail-desc">cruise1298.fiplip@gmail.com</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <img src={% static "assets/images/users/4.jpg" %} alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Pavan kumar</h5> <span class="mail-desc">kat@gmail.com</span>
                                    </div>
                                </a>
                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <img src={% static "assets/images/users/2.jpg" %} alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Sonu Nigam</h5> <span class="mail-desc">pamela1987@gmail.com</span>
                                    </div>
                                </a>
                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <img src={% static "assets/images/users/4.jpg" %} alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Pavan kumar</h5> <span class="mail-desc">kat@gmail.com</span>
                                    </div>
                                </a>
                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <img src={% static "assets/images/users/2.jpg" %} alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Sonu Nigam</h5> <span class="mail-desc">pamela1987@gmail.com</span>
                                    </div>
                                </a>

                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <span class="round">A</span> <span class="profile-status away pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Arijit Sinh</h5> <span class="mail-desc">cruise1298.fiplip@gmail.com</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <img src={% static "assets/images/users/4.jpg" %} alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Pavan kumar</h5> <span class="mail-desc">kat@gmail.com</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Column -->
            <div class="col-lg-8 col-xlg-9">
                <div class="card">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#home" role="tab">Forum</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#profile" role="tab">Profile</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#settings" role="tab">Settings</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="card-body">
                                <div class="profiletimeline border-start-0">
                                    <div class="sl-item">
                                        <div class="sl-left"> <img src={% static "assets/images/users/1.jpg" %} alt="user" class="img-circle"> </div>
                                        <div class="sl-right">
                                            <div><a href="#" class="link">John Doe</a> <span class="sl-date">5
                                                            minutes ago</span>
                                                <p>assign a new task <a href="#"> Design weblayout</a></p>

                                                <div class="like-comm"> <a href="javascript:void(0)" class="link me-2">2
                                                                comment</a> <a href="javascript:void(0)" class="link me-2"><i
                                                                    class="fa fa-heart text-danger"></i> 5 Love</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="sl-item">
                                        <div class="sl-left"> <img src={% static "assets/images/users/2.jpg" %} alt="user" class="img-circle"> </div>
                                        <div class="sl-right">
                                            <div> <a href="#" class="link">John Doe</a> <span class="sl-date">5
                                                            minutes ago</span>
                                                <div class="mt-3 row">
                                                    <div class="col-md-3 col-xs-12"><img src={% static "assets/images/big/img1.jpg" %} alt="user" class="img-responsive w-100 radius"></div>
                                                    <div class="col-md-9 col-xs-12">
                                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p> <a href="#" class="btn btn-success text-white"> Design
                                                                    weblayout</a>
                                                    </div>
                                                </div>
                                                <div class="like-comm mt-3"> <a href="javascript:void(0)" class="link me-2">2 comment</a> <a href="javascript:void(0)" class="link me-2"><i
                                                                    class="fa fa-heart text-danger"></i> 5 Love</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="sl-item">
                                        <div class="sl-left"> <img src={% static "assets/images/users/3.jpg" %} alt="user" class="img-circle"> </div>
                                        <div class="sl-right">
                                            <div><a href="#" class="link">John Doe</a> <span class="sl-date">5
                                                            minutes ago</span>
                                                <p class="mt-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                                                    mauris. Fusce nec tellus sed augue semper </p>
                                            </div>
                                            <div class="like-comm mt-3"> <a href="javascript:void(0)" class="link me-2">2
                                                            comment</a> <a href="javascript:void(0)" class="link me-2"><i class="fa fa-heart text-danger"></i>
                                                            5 Love</a> </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="sl-item">
                                        <div class="sl-left"> <img src={% static "assets/images/users/4.jpg" %} alt="user" class="img-circle"> </div>
                                        <div class="sl-right">
                                            <div><a href="#" class="link">John Doe</a> <span class="sl-date">5
                                                            minutes ago</span>
                                                <blockquote class="mt-2">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--second tab-->
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <div class="card-body">

                                <h4 class="font-medium mt-4">Tilha Enem </h4>
                                <hr>
                                <h5 class="d-flex mt-4">Ciências Humanas e suas Tecnologias <span class="ms-auto">80%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;">
                                        <span class="sr-only">50% Complete</span> </div>
                                </div>
                                <h5 class="d-flex mt-4">Matemática e suas Tecnologias<span class="ms-auto">90%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;">
                                        <span class="sr-only">50% Complete</span> </div>
                                </div>
                                <h5 class="d-flex mt-4">Ciências da Natureza e suas Tecnologias<span class="ms-auto">50%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;">
                                        <span class="sr-only">50% Complete</span> </div>
                                </div>
                                <h5 class="d-flex mt-4">Linguagens, suas Tecnologias <span class="ms-auto">70%</span></h5>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;">
                                        <span class="sr-only">50% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-body">
                                <form class="form-horizontal form-material mx-2">
                                    <div class="form-group">
                                        <label class="col-md-12">Nome completo</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line ps-0">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line ps-0" name="example-email" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Senha</label>
                                        <div class="col-md-12">
                                            <input type="password" value="password" class="form-control form-control-line ps-0">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Telefone</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="(00) 90000-000" class="form-control form-control-line ps-0">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Messagem</label>
                                        <div class="col-md-12">
                                            <textarea rows="5" class="form-control form-control-line ps-0"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">Estado</label>
                                        <div class="col-sm-12 border-bottom">
                                            <select class="form-select shadow-none border-0 form-control-line ps-0">
                                                        <option>Acre</option>
                                                        <option>Alagoas</option>
                                                        <option>Amapá</option>
                                                        <option>Amazonas</option>
                                                        <option>Bahia</option>
                                                        <option>Ceará</option>
                                                        <option>Distrito Federal*</option>
                                                        <option>Espírito Santo</option>
                                                        <option>Goiás</option>
                                                        <option>Maranhão</option>
                                                        <option>Mato Grosso</option>
                                                        <option>Mato Grosso do Sul</option>
                                                        <option>Minas Gerais</option>
                                                        <option>Pará</option>
                                                        <option>Paraíba</option>
                                                        <option>Paraná</option>
                                                        <option>Pernambuco</option>
                                                        <option>Piauí</option>
                                                        <option>Rio de Janeiro</option>
                                                        <option>Rio Grande do Norte</option>
                                                        <option>Rio Grande do Sul</option>
                                                        <option>Rondônia</option>
                                                        <option>Roraima</option>
                                                        <option>Santa Catarina</option>
                                                        <option>São Paulo</option>
                                                        <option>Sergipe</option>
                                                        <option>Tocantins</option>
                                                    </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success text-white">Update Profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- ============================================================== -->
        <!-- Table -->
        <!-- ============================================================== -->


    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer"> © 2021 <a href="#"> feito com s2 </a>
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
{% endblock %}