{% extends "bases/dashboard_base.html" %} {% load static %} {% block title %} Dashboard {{group}} {% endblock %} {% block content %}
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    Estamos Construindo
</div>
{% endblock %}